:root{
    --pink:#e0447c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 2rem 2.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.btn:hover{
    background: var(--pink);
}

header{
    position: fixed;
    top:0 ;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0, .1);

}
header img{
    width: 130px;
    height: auto;

}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem ;
    color: #666;

}

header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;

}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius:  .5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}


.home{
    display: flex;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0)),url(../images/863A7073.JPG);
    background-size: cover;
    background-position: center;
}

 .content{
    max-width: 100vw;
    height: 100vh;
    
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color:#fff;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
}










.footer .credit span{
    color: #fff;
}

.content{
    background:url(../images/863A7136.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    background-color: var(--pink);
 

}

 
@media only screen and (min-width: 370px) {
    /* Mobile: */
      .col-s-1{
          width:8.3333%;
      }
      .col-s-2{
          width:16.66%;
      }
      .col-s-3{
          width:25%;
      }
      .col-s-4{
          width:33.32%;
      }
      .col-s-5{
          width:41.65%;
      }
      .col-s-6{
          width:50%;
      }
      .col-s-7{
          width:58.3333%;
      }
      .col-s-8{
          width: 66.66%;
      }
      .col-s-9{
          width:75%;
      }
      .col-s-10{
          width:83.33%;
      }
      .col-s-11{
          width:91.66%;
      }
      .col-s-12{
          width:100%;
      }
      .hide-s{
          display:none;
      }
  }

@media only screen and (min-width: 768px) {
    /* Desktop: */
      .col-l-1{
          width:8.3333%;
      }
      .col-l-2{
          width:16.66%;
      }
      .col-l-3{
          width:25%;
      }
      .col-l-4{
          width:33.32%;
      }
      .col-l-5{
          width:41.65%;
      }
      .col-l-6{
          width:50%;
      }
      .col-l-7{
          width:58.3333%;
      }
      .col-l-8{
          width: 66.66%;
      }
      .col-l-9{
          width:75%;
      }
      .col-l-10{
          width:83.33%;
      }
      .col-l-11{
          width:91.66%;
      }
      .col-l-12{
          width:100%;
      }
      .hide-l{
          display:none;
      }
  }


.footer .div{
    text-align: center;

    font-size: 1.5rem;
}
.footer .div h2{
    
    line-height: 2.9;
}
.footer .div ul{
    text-decoration: none;
}
.footer .div li{
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
    cursor: pointer;
}

.footer .social{
    text-align: center;
    font-size: 3rem;
    line-height: 2;
}
.footer .social i:hover{
    color: #fff;
    cursor: pointer;
}
.footer .credit{
    text-align: center;
  font-size: 1.5rem;
  
}


.content .row{
    max-width: 350px;
    width: 100%;
    height: auto; 
    margin-top: 30%;
    background:var(--pink);
    padding: 60px 45px;
    margin-left: 50%;
    display: inline-block;
    
  
    transform: translate(-50%,-50%);
    border-radius: 20px;


}

.content .row .title{
margin-bottom: 20px;
text-align: center;
font-size: 26px;
font-weight: bold;
color: #333;

}

.row .social-media{
display: flex;
justify-content: center;
margin-bottom: 20px;
font-size: 15px;

}

.row .social-media .item{
width: 35px;
height: 35px;
border: 2px solid #333;
margin: 0 5px;
text-align: center;
line-height: 35px;
border-radius: 50%;
cursor: pointer;
color:#333;
transition: all 0.5s ease;

}

.row .social-media .item:hover{
border-color: #eee;
color: #eee;
}

.row .form .input-field{
position: relative;
margin-bottom: 10px;

}

.row .form .input-field .input{
width: 100%;
padding: 12px;
padding-left: 30px;
border: none;
background: #eee;
}

.row .form .input-field i{
position: absolute;
top:10px;
left: 10px;
color:#333;
font-size: 14px;

}


::-webkit-input-placeholder{
color:var(--pink);
}


































@media (max-width:991){

    html{
        font-size: 55%;
    
    }

    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }

    .home{
        background-position:left;
    }
}




@media (max-width: 768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);

    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    } 

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 30%;
    
    }

    header{
        padding: 1rem;
    }

    .heading{
        font-size: 2rem;
    }

    .content .row{
        font-size:2rem ;
        margin-top: 50%;
    }
    .footer{
        text-align: center;
    }
  
}